.header-container {
    width: 100vw;
    background-color: var(--foreground-color); //Ändras beroende på light mode
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color .3s ease; 
    position: sticky;
    top: 0;
    box-shadow: 2px 0 10px var(--background-color);
    @media (min-width: 768px){
        padding: 1rem 3rem;
    }

    h1{
        color: var(--primary-text-color); //Ändras beroende på light mode
        margin-left: 5%;
    }
}
